Create three variables: a, b, and c.

Assign an integer value of 8 to a.
Assign a floating-point number of 3.5 to b.

Assign a string to c that includes your full name.

In [52]:
a=8
b=3.5
c="Anushka Udara Mailange"

Print the values of a, b, and c.

Determine the type of each variable using the type() function and print the results.

Perform the following arithmetic operations:

Add a and b and print the result.

Subtract b from a and print the result.

Multiply a and b and print the result.

Divide a by b and print the result.

Calculate a raised to the power of 3 and print the result.

Convert a to a float and b to an integer and print the new values and their types [Hint: Python has built-in functions to convert into any specific datatype, e.g. int(), float(), and str()].

Concatenate the string in c with the string " is learning Python." and print the result [Hint: explore the behavior of the “+” operator when it acts on the string datatype].

In [53]:
print(a)
print(b)
print(c)

8
3.5
Anushka Udara Mailange

In [54]:
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [55]:
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**3)

11.5
4.5
28.0
2.2857142857142856
512

In [65]:
a=float(a)
b=int(b)
print(a)
print(b)
print(type(a))
print(type(b))

8.0
3
<class 'float'>
<class 'int'>

In [57]:
print(c+" is learning Python")

Anushka Udara Mailange is learning Python

Create a list named my_list containing the following elements:

The integer 10.

The float 3.14.

The string "Python".

Another list containing the elements 4, 5, 6 [Note: a list can contain any datatype even a list!].

The string "Homework".

In [58]:
my_list=[10,3.14,"Python",[4,5,6],"Homework"]

Print the entire my_list.

Print the length of my_list [Hint: explore the behavior of the len() built-in function].

Access and print the third element in my_list.

Access and print the second element from the inner list.

Replace the first element in my_list with the result of the arithmetic expression a * b.

Print the updated list.

Add a new element "End" to the end of my_list using the appropriate list method and print the updated list [Hint: there are several ways to do this, a simple one is to explore the behavior of the “+” operator when acting on two lists].

In [59]:
print(my_list)

[10, 3.14, 'Python', [4, 5, 6], 'Homework']

In [60]:
print(len(my_list))

5

In [61]:
print(my_list[2])

Python

In [62]:
print(my_list[3][1])

5

In [63]:
my_list[0]=a*b
print(my_list)

[24.0, 3.14, 'Python', [4, 5, 6], 'Homework']

In [64]:
my_list=my_list+["End"]
print(my_list)

[24.0, 3.14, 'Python', [4, 5, 6], 'Homework', 'End']